body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* HEADER */
header.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

header h1 {
  margin: 0;
  font-size: 26px;
}

header h1 span {
  color: #38bdf8;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

nav a:hover {
  color: #38bdf8;
}

/* SEARCH */
#searchInput {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* GAME LIST */
.games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}


.game-card {
  background: #020617;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.03);
}

.game-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.game-card h3 {
  margin: 10px;
}

.game-card p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: #cbd5e1;
}

/* BUTTON */
.btn {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  font-size: 13px;
  color: #94a3b8;
}

.slider {
  max-width: 1200px;   /* yanlardan boşluk */
  height: 350px;
  margin: 30px auto;   /* ortala */
  overflow: hidden;
  position: relative;
  border-radius: 15px; /* köşeler yumuşasın */
}


.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 3s ease;
}

.slide.active {
  opacity: 1;
}

